*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
header{
    position: fixed;
    background-color: #BD4585;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 100;
}
header .logo h3 {
  color: #fff;
  font-size: 30px;
}
header .logo span{
  color: #82D75A;
}
header #navbar{
    display: none;
}
header ul li{
    list-style: none;
    display: inline-block ;
    margin: 0 15px;
}
header ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all ease 0.5sec;
    font-size: 17px;
}
header ul li a:hover{
    color: #6E3659;
}
.content{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 100px 0;
    height: 100vh;
    background-color: #D47EA5;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    font-size: 30px;
    color: #6E3659;
    padding: 0px 50px 50px 50px ;
}
.text a{
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 18px 30px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 60px;
}
.btn{
    border: 2px solid #fff;
    width: 50%;
    text-align: center;
    transition: ease-out 0.3s;
}
.btn2{
    border: none;
    background-color: #6E3659;
    width: 50%;
    text-align: center;
    transition: ease-out 0.3s;
}
.text a:hover{
    color: #6E3659;
    background: #fff;
}
.about_us{
    width: 100%;

}

.heading_page2{
    text-align: center;
    padding: 60px;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    align-items: center;
}
.heading_page2 h2{
    color: #6E3659;
}
.content_page2{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem 0 6rem;
    padding-bottom: 6rem;
    border-bottom: 2px solid #F5F1F1;
}
.text_page2{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    width: 45%;
    font-weight: 500;
}
.img_page2{
    height: 70vh;
    padding-bottom: 30px;
}

.page_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 6rem;
}
.page_3 .paragraph{
    font-family: 'Raleway', sans-serif;
    color: #6E3659;
    font-size: 1.5rem;
    font-weight: 1000;
}
.page_3 .h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 200;
    color: #6E3659;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box1, .box2, .box3{
    width: 300px;
    height: 320px;
    background-color: #f3ededcb;
    margin: 60px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    transition: .3s ease-in-out;
}
.numbers{
    font-family: 'Sanchez', serif;
    font-size: 60px;
    color: #ADA7A7;
}
.box1:hover,
.box2:hover,
.box3:hover{
background-color: #D47EA5;
}
.page_4{
    background-color: #D47EA5;
}
.contact{
    text-align: center;
    padding: 80px;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    color: #6E3659;
}
.content_page4{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem 0 6rem;
    padding-bottom: 3rem;
}
.text_page4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #6E3659;
}
.footer{
    width: 100%;
    height: auto;
    margin: auto;
    background: #6E3659;
}
.social{
    text-align: center;
}
.social a{
    font-size: 25px;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin: 40px;
}


@media screen and (max-width: 1024px) {
    img{
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    header ul li a{
        font-size: 15px;
    }


    .content{
        display: block;
        position: relative;
    }
    .text{
        font-size: 20px;
        padding: 0;
        padding-top: 20px;
    }
    .text h1{
        display: block;
        letter-spacing: 3px;
        text-align: center;
    }
    .text a{
        display: block;
        margin: 40px;
      
        text-align: center;
    }
    .btn{
        position: absolute;
        top: 490px;
        width: 70%;
    }
    .btn2{
        position: absolute;
        bottom: -16px;
        width: 70%;
    }
    .content .img{
        display: block;
        width: 65%;
        margin: 30px auto;
    }


    .content_page2{
        display: block;
    }
    .text_page2{
        width: 100%;
    }
    .img_page2{
        height: 55vh;
        padding-top: 55px;
    }

    .content_page4{
        flex-direction: column;
    }
    iframe{
        margin-top: 60px;
    }
}


@media screen and (max-width: 700px) {
    header #navbar{
        display: block;
        color: #fff;
    }
    header ul{
        display: none;
    }
}